* {
  box-sizing: border-box;
}

:root {
  --cinza-fundo: #f7f7f7;
  --cinza-texto: #c6c6c6;
  --vermelho: #ee2211;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img{
  max-width: 100%;
  display: block;
}
